<header>
    <a class="nav-logo" href="/niet-beschikbaar">
        {% render 'partials/picture.liquid',
            image_src: '/assets/icons/teylers-light-dark.svg',
            alt_text: 'Site logo',
            format: 'svg',
            fetch_type: 'high'
        %}
    </a>

    <div class="nav-menu-top desktop-nav-top">
        <a class="btn-search" href="/niet-beschikbaar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" focusable="false" width="32" height="32">
                <title>Zoeken</title>
                <path fill="currentColor"
                    d="M9.664 1.85a14.44 14.44 0 0 1 17.021 22.076l5.494 5.493a1.951 1.951 0 1 1-2.76 2.76l-5.493-5.494A14.44 14.44 0 1 1 9.664 1.85Zm5.525 2.802a10.537 10.537 0 1 0 0 21.074 10.537 10.537 0 0 0 0-21.074Z" />
            </svg>
        </a>
        <select name="language">
            <option value="nl">nl</option>
            <option value="en">en</option>
        </select>
        <a class="btn btn--primary btn-ticket" href="/niet-beschikbaar">Boek ticket</a>
    </div>

    <a class="nav-toggle" href="#navigatie" aria-label="Menu openen">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32" width="32" height="32">
            <title>Menu openen</title>
            <path fill="currentColor"
                d="M0 13.827v-1.638h32v1.638H0Zm0-4.095V8.095h32v1.637H0Zm0-4.094V4h32v1.638H0ZM4.764 25.967l2.682-5.963h1.158v7.861H7.346v-5.054l-2.282 5.054h-.69l-2.26-4.997v4.997H.858v-7.861h1.224l2.683 5.963ZM11.605 24.44v2.19h3.962v1.235h-5.253v-7.861h5.142v1.235h-3.851v2h3.428v1.2h-3.428ZM21.788 25.608v-5.604h1.257v7.861h-1.19l-3.73-5.604v5.604h-1.257v-7.861h1.19l3.73 5.604ZM27.709 28c-1.814 0-3.005-1.325-3.005-3.077v-4.92h1.29v4.92c0 1.078.646 1.83 1.715 1.83 1.068 0 1.714-.752 1.714-1.83v-4.92h1.291v4.92c0 1.752-1.191 3.077-3.005 3.077Z" />
        </svg>
    </a>
    <section class="nav-menu" id="navigatie">
        <div class="nav-menu-layout">

            <div class="nav-menu-visual">
                {% render 'partials/picture.liquid',
                    image_src: '/assets/images/nav-image',
                    alt_text: '',
                    loading_type: 'lazy',
                    fallback_type: 'avif',
                    width: 1000,
                    height: 1000
                %}
                {% render 'partials/picture.liquid',
                    image_src: '/assets/icons/teylers-dark-light.svg',
                    alt_text: 'Logo',
                    format: 'svg',
                    class: 'nav-menu-logo'
                %}
            </div>

            <div class="nav-menu-content">
                <div class="nav-menu-top mobile-nav-top">
                    <a class="btn-search" href="/niet-beschikbaar">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" focusable="false" width="32"
                            height="32">
                            <title>Zoeken</title>
                            <path fill="currentColor"
                                d="M9.664 1.85a14.44 14.44 0 0 1 17.021 22.076l5.494 5.493a1.951 1.951 0 1 1-2.76 2.76l-5.493-5.494A14.44 14.44 0 1 1 9.664 1.85Zm5.525 2.802a10.537 10.537 0 1 0 0 21.074 10.537 10.537 0 0 0 0-21.074Z" />
                        </svg>
                    </a>
                    <select name="language">
                        <option value="nl">nl</option>
                        <option value="en">en</option>
                    </select>
                    <a class="btn btn--primary btn-ticket" href="/niet-beschikbaar">Boek ticket</a>
                    <a class="nav-close" href="#" aria-label="Menu sluiten">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" focusable="false" width="32"
                            height="32">
                            <title>Menu sluiten</title>
                            <path fill="currentColor"
                                d="M31.753 30.563a.842.842 0 0 1-1.19 1.19L16 17.191 1.438 31.753a.842.842 0 0 1-1.191-1.19L14.809 16 .247 1.437a.842.842 0 1 1 1.19-1.19L16 14.809 30.562.247a.842.842 0 1 1 1.191 1.19L17.191 16l14.562 14.563Z" />
                        </svg>
                    </a>
                </div>

                <nav class="nav-primary">
                    <ul>
                        <li><a href="/niet-beschikbaar">Plan je bezoek</a></li>
                        <li><a href="/niet-beschikbaar">Zien & doen</a></li>
                        <li><a href="/niet-beschikbaar">Ontdek</a></li>
                    </ul>
                </nav>

                <nav class="nav-secondary">
                    <ul>
                        <li><a href="/niet-beschikbaar">Organisatie</a></li>
                        <li><a href="/niet-beschikbaar">Collectie</a></li>
                        <li><a href="/niet-beschikbaar">Nieuws</a></li>
                        <li><a href="/niet-beschikbaar">Onderwijs</a></li>
                        <li><a href="/niet-beschikbaar">Steun ons</a></li>
                        <li><a href="/niet-beschikbaar">Verhuur</a></li>
                    </ul>
                </nav>

                <p class="nav-hours">Geopend van di t/m zo van 10:00 tot 17:00 uur, op maandag gesloten.</p>

                <nav class="nav-utility">
                    <ul>
                        <li><a href="/niet-beschikbaar">Contact</a></li>
                        <li><a href="/niet-beschikbaar">Pers</a></li>
                        <li><a href="/niet-beschikbaar">Toegankelijkheid</a></li>
                        <li><a href="/niet-beschikbaar">FAQ</a></li>
                        <li><a href="/niet-beschikbaar">Vacatures</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</header>