@font-face {
    font-family: Bitter;
    src: url(/assets/fonts/Bitter-Regular.woff2) format(woff2);
    font-weight: 400;    
    font-display: swap;
}
    
@font-face {
    font-family: Bitter;
    src: url(/assets/fonts/Bitter-Bold.woff2) format(woff2);
    font-weight: 700;
    font-display: swap;
}
    
@font-face {
    font-family: Inter;
    src: url(/assets/fonts/Inter-Regular.woff2) format(woff2);
    font-weight: 400;
    font-display: swap;
    }
    
@font-face {
    font-family: Inter;
    src: url(/assets/fonts/Inter-Bold.woff2) format(woff2);
    font-weight: 700;
    font-display: swap;
}

:root {
  /* Kleuren deze niet gebruiken in style.css alleen voor variabelen */
  /* Brand */
  --palette-brand-700:       #1A3038;
  /* Secondary */
  --palette-secondary-700:   #F4ECDD;
  /* Accent */
  --palette-accent-700:      #FFCC00;
  --palette-accent-2-700:    #91B37E;
  --palette-accent-3-700:    #37A9E2;

  /* Neutraal */
  --palette-neutral-900:     #000000;
  --palette-neutral-800:     #00001B;
  --palette-neutral-700:     #1F1F1F;
  --palette-neutral-400:     #929792;
  --palette-neutral-300:     #BDBDBD;
  --palette-neutral-100:     #F5F5F5;
  --palette-neutral-0:       #FFFFFF;

  /* Success en error*/
  --palette-success-700:     #2CFF70;
  --palette-error-700:       #BE1C1D;
}
:root {
  /* Kleuren ===================================================================================*/
  /* Brand */
  --color-brand:             var(--palette-brand-700);
  --color-secondary:         var(--palette-secondary-700);

  /* Accent */
  --color-accent:            var(--palette-accent-700);
  --color-accent-2:          var(--palette-accent-2-700);
  --color-accent-3:          var(--palette-accent-3-700);

  /* Neutraal */
  --color-neutral-darkest:   var(--palette-neutral-900);
  --color-neutral-darker:    var(--palette-neutral-800);
  --color-neutral-dark:      var(--palette-neutral-700);
  --color-neutral-mid:       var(--palette-neutral-400);
  --color-neutral-light:     var(--palette-neutral-300);
  --color-neutral-lighter:   var(--palette-neutral-200);
  --color-neutral-lightest:  var(--palette-neutral-100);
  --color-neutral-surface:   var(--palette-neutral-0);

  /* Success en Error */
  --color-error:             var(--palette-error-700);
  --color-success:           var(--palette-success-700);

  /* Fonts ===================================================================================*/
  --font-primary:            "Bitter";
  --font-secondary:          "Inter";

  --font-weight-regular:     400;
  --font-weight-bold:        700;

  --font-size-h1:            clamp(1.5625rem, 3vw + 1rem,   3rem);
  --font-size-h2:            clamp(1.5rem,    3vw + 1rem,   2.25rem);
  --font-size-h3:            clamp(1.25rem,   2vw + 1rem,   1.75rem);
  --font-size-h4:            clamp(1.1rem,    1vw + 1rem,   1.25rem);
  --font-size-h5:            clamp(1rem,      0.5vw + 1rem, 1rem);
  --font-size-h6:            clamp(0.875rem,  0.25vw + 0.875rem, 1rem);

  --font-size-body-2xs:      clamp(0.625rem,  0.1vw + 0.5rem,  0.7rem);
  --font-size-body-xs:       clamp(0.75rem,   0.1vw + 0.5rem,  0.825rem);
  --font-size-body-sm:       clamp(0.875rem,  0.25vw + 0.5rem, 0.95rem);
  --font-size-body-md:       clamp(1rem,      0.25vw + 0.5rem, 1.1rem);
  --font-size-body-lg:       clamp(1.125rem,  0.5vw + 0.5rem,  1.25rem);
  --font-size-body-xl:       clamp(1.3rem,    0.75vw + 0.5rem, 1.45rem);
  --font-size-body-2xl:      clamp(1.75rem,   1vw + 0.5rem,    2rem);
  --font-size-body-3xl:      clamp(2rem,      1.25vw + 0.5rem, 2.25rem);
  --font-size-body-4xl:      clamp(2.5rem,    1.5vw + 0.5rem,  3rem);
  --font-size-body-5xl:      clamp(2.625rem,   1.75vw + 0.5rem,  3.5rem);

  /* Line-heights ============================================================================*/
  --line-height-xs:          1;
  --line-height-sm:          1.2;
  --line-height-md:          1.4;
  --line-height-lg:          1.6;
  --line-height-xl:          1.7;
  --line-height-2xl:         1.9;
  --line-height-body:        1.6;
  --line-height-heading:     1.1;
  --line-height-button:      1.7;
  --line-height-text-big:    1.5625rem;

  /* Letter spacing ===========================================================================*/
  --letter-spacing-tight:   -0.02em; 
  --letter-spacing-normal:   0;      
  --letter-spacing-wide:     0.03em; 
  --letter-spacing-wider:    0.05em;  

  /* Padding / Spacing ========================================================================*/
  --spacing-2xs:             0.125rem;  
  --spacing-xs:              0.25rem; 
  --spacing-sm:              0.5rem;    
  --spacing-md:              1rem;       
  --spacing-lg:              1.5rem;   
  --spacing-xl:              2rem;     
  --spacing-2xl:             2.5rem;     
  --spacing-3xl:             3rem;      
  --spacing-4xl:             4rem;      
  --spacing-5xl:             6rem;      

  /* Borders =================================================================================*/
  --border-width-xs:         0.5px;
  --border-width-sm:         1px;
  --border-width-md:         2px;
  --border-width-lg:         4px;
  --border-width-xl:         6px;
  --border-width-2xl:        8px;

  --border-radius-none:      0;
  --border-radius-circle:    50%;
}


html {
  overflow-x:                hidden;
  max-width:                 100%;
  scroll-behavior:           smooth; 
  background-color:          var(--color-brand);
}

* {
  margin:                    0;
  padding:                   0;
  min-width:                 0;
  box-sizing:                border-box;
}

ul,
ol {
  list-style:none;
}

a {
  color:inherit;
  text-decoration: none;
}

/* typogrfie =================================================================================*/
body {
  color:                     var(--color-secondary);
  font-family:               var(--font-secondary);
  font-weight:               var(--font-weight-regular);
  font-size:                 var(--font-size-body-xl);
  line-height:               var(--line-height-md);
}

h1, h2, h3, h4, h5, h6 {
  font-family:               var(--font-primary);
  font-weight:               var(--font-weight-bold);
  line-height:               var(--line-height-heading);
  letter-spacing:            var(--letter-spacing-heading);
  color:                     var(--color-text-brand);
  margin:                    0 0 var(--spacing-sm) 0;
}

h1 { font-size:              var(--font-size-h1); }
h2 { font-size:              var(--font-size-h2); }
h3 { font-size:              var(--font-size-h3); }
h4 { font-size:              var(--font-size-h4); }
h5 { font-size:              var(--font-size-h5); }
h6 { font-size:              var(--font-size-h6); }

p {
  font-size:                 var(--font-size-body-xl);
  max-width:                 70ch;
  margin:                    0 0 var(--spacing-md) 0;
  line-height:               var(--line-height-md);
}

h1, h2, h3, h4, p, blockquote, li {
  text-wrap: balance;
}

/* Tekst-body (Teylers styleguide) =================================================================================*/
.text-big {
  font-size:                 var(--font-size-text-big);
  line-height:               var(--line-height-text-big);
  font-weight:               var(--font-weight-regular);
}

.text-body-h3 {
  font-size:                 var(--font-size-h3);
  line-height:               var(--line-height-heading);
  font-weight:               var(--font-weight-bold);
}


/* Buttons =========================================================================================================*/

.btn {
  display:                  flex;
  align-items:              center;
  gap:                      var(--spacing-md);
  padding:                  var(--spacing-lg) var(--spacing-2xl);
  font-family:              var(--font-secondary);
  font-size:                var(--font-size-body-xl);
  font-weight:              var();
  line-height:              1;
  white-space:              nowrap;
  border:                   var(--border-width-md) solid transparent;
  box-shadow:               var();
  cursor:                   pointer;
  transition:               all 0.3s ease;
}
.btn--primary {
  background-color:         var(--color-accent);
  color:                    var(--color-brand);
  border:                   solid var(--border-width-md) var(--color-accent);
}
.btn--secondary {
  background-color:         var(--color-secondary);
  color:                    var(--color-brand);
  border:                   solid var(--border-width-md) var(--color-secondary);
}
.btn--tertiary {
  background-color:         var(--color-brand);
  color:                    var(--color-secondary);
  aspect-ratio:              1 / 1;
  padding:                  var(--spacing-md);
  svg{
    transition:             transform 0.3s ease;
  }
}

/* Hover */
.btn--primary:hover {
  background-color:         var(--color-brand);
  color:                    var(--color-accent);
  border:                   solid var(--border-width-md) var(--color-accent);
}
.btn--secondary:hover {
  background-color:         var(--color-brand);
  color:                    var(--color-secondary);
  border:                   solid var(--border-width-md) var(--color-secondary);
}
.btn--tertiary:hover {
  svg{
    transform:              scale(1.2);
  }
}

/* Active geen active*/
.btn--primary:active {
  background-color:         var(--color-accent);
  color:                    var(--color-brand);
  border:                   solid var(--border-width-lg) var(--color-accent);
  transform:                scale(0.97);
}
.btn--secondary:active {
  background-color:         var(--color-secondary);
  color:                    var(--color-brand);
  border:                   solid var(--border-width-lg) var(--color-secondary);
  transform:                scale(0.97);
}
.btn--tertiary:active {
  svg{
    transform:              scale(0.9);
  }
}

/* Focus-visable */
.btn:focus-visible {
  outline:                  var(--border-width-lg) solid var(--color-accent);
  outline-offset:           0.5rem;
  position:                 relative;
  z-index:                  1;
}

/* Disabled */
.btn--primary:disabled {
  background-color: color-mix(in srgb, var(--color-accent) 50%, transparent);
  border-color:     color-mix(in srgb, var(--color-accent) 50%, transparent);
}
.btn--secondary:disabled {
  background-color: color-mix(in srgb, var(--color-secondary) 50%, transparent);
  border-color:     color-mix(in srgb, var(--color-secondary) 50%, transparent);
}
.btn--tertiary:disabled {
  background-color: color-mix(in srgb, var(--color-brand) 20%, transparent);
  border-color:     color-mix(in srgb, var(--color-brand) 50%, transparent);
}
