/*==================-loading state-===================*/ 

@supports selector(:has(img)) {
    picture {
        background: var(--color-secondary);
        animation: shimmer 1.5s infinite;
    }
    picture:has(img[src]) {
        animation: none;
    }

    @keyframes shimmer {
        0% { opacity: 1; }
        50% { opacity: 0.5; }
        100% { opacity: 1; }
    }
} /*ik weet niet hoe ik dit kan testen*/

.img-wrapper{
    position: relative;
}
.img-wrapper--fit{
    width: fit-content;
   
    img{
        object-fit: cover;
        scale: 1.02;
        aspect-ratio: 4/3;
        height: 100%;
        width: 100%;
    }
}
.img-wrapper--hero{
    width: 100%;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 3.5rem;
    height: 3.5rem;
}
@media (prefers-reduced-motion: no-preference) {
    .spinner {
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        to { rotate: 360deg; }
    }
}

/*=====================-Header-======================*/ 
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-sm) var(--spacing-sm);
    gap: 1rem;
    .nav-logo img {
        width: 3.5rem;
        height: auto;
    }
    .nav-toggle {
        svg{
            width: 2.5rem;
            height: auto;
        }
    }
}

/* =====================-Menu layout-===================== */
.nav-menu-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.nav-menu-visual {
    display: none;
}
.nav-menu-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 1025px) {
    .nav-menu-layout {
        flex-direction: row;
    }
 
    .nav-menu-visual {
        display: block;
        width: 40%;
        position: relative;
        overflow: hidden;
    }
 
    .nav-menu-visual img:first-child {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
 
    .nav-menu-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: auto;
        pointer-events: none;
    }
 
    .nav-menu-content {
        width: 60%;
        overflow-y: auto;
    }
}
 
/* =====================-Menu-===================== */
.nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    overflow-y: auto;
    background-color: var(--color-secondary);
    color: var(--color-brand);
    flex-direction: column;
    gap: var(--spacing-lg);
}
.nav-menu:target,
.nav-menu.open {
    display: flex;
}
@media (prefers-reduced-motion: no-preference) {
    .nav-menu {
        left: -100%;
        transition: 0.3s ease-out;
    }
 
    .nav-menu:target,
    .nav-menu.open {
        left: 0;
 
        @starting-style {
            left: -100%;
        }
    }
}

/* =====================-Menu top-===================== */
.nav-menu-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: var(--spacing-lg);
    margin-left: auto;
    width: 100%;
    max-width: 400px;
    
    .btn-search {
        text-align: center;
    }
    .btn-search svg {
        height: 1.1rem;
    }
    select {
        border: none;
        background-color: inherit;
        font-family: var(--font-secondary);
        font-size: var(--font-size-body-md);
        text-transform: uppercase;
        appearance: none;
        background-image: url("/assets/icons/arrow-down.svg");
        background-repeat: no-repeat;
        background-position: left 1.8rem center;
        background-size: 0.9rem;
        padding-right: 1.5rem;
    }
    .btn-ticket {
        word-break: break-word;
        line-height: var(--line-hight-lg);
        font-size: var(--font-size-body-lg);
        padding: var(--spacing-md);
        text-align: center;
    }
    .nav-close {
        text-align: center;
    }
}
.desktop-nav-top {
    display: none;
}
@media (min-width: 1025px) {
    .desktop-nav-top {
        display: flex;
    }
 
    .desktop-nav-top select {
        color: var(--color-secondary);
        background-image: url("/assets/icons/arrow-down-light.svg");
    }
}

/*=====================-Nav links-=====================*/
.nav-primary a,
.nav-secondary a,
.nav-utility a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.3s ease;
    &:hover{
        background-size: 100% 2px;
    }
}
/*=====================-nav-=====================*/
.nav-primary {
    font-family: var(--font-primary);
    font-size: var(--font-size-body-3xl);
    font-weight: var(--font-weight-bold);
    margin-top: var(--spacing-xl);
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-lg);
    a::after {
        content: url("/assets/icons/arror-right.svg");
        margin-left: 1rem;
        vertical-align: middle;
        display: inline-block;
        transform: scale(0.7);
    }
}
 
.nav-secondary {
    font-family: var(--font-secondary);
    font-size: var(--font-size-body-lg);
    margin-top: var(--spacing-2xl);
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-lg);
    ul {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }
}
 
.nav-hours {
    margin-top: var(--spacing-2xl);
    padding-right: var(--spacing-lg);
    padding-left: var(--spacing-lg);
    font-size: var(--font-size-body-md);
    font-weight: var(--font-weight-bold);
}
 
.nav-utility {
    margin-top: auto;
    padding: var(--spacing-xl);
    background-color: var(--color-brand);
    color: var(--color-secondary);
    font-size: var(--font-size-body-lg);
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-md);
    }
}
 
/*=====================-Footer-======================*/
footer {
    padding-top: var(--spacing-3xl);
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 2.5rem;
        background-image: url(/assets/icons/decoratief-stripe-pattern.svg);
        background-repeat: repeat-x;
        background-size: auto 100%;
    }

    .footer-top {
        padding-bottom: var(--spacing-4xl);
        @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: start;
            padding-left: var(--spacing-md);
            padding-right: var(--spacing-md);

            /*alle directe kinderen van .footer-top*/
            & > * {
                margin-top: 0;
                padding-top: var(--spacing-2xl);
            }
        }
    }

    .footer-logo {
        padding-left: var(--spacing-xl);
        padding-right: var(--spacing-xl);
        margin-top: var(--spacing-2xl);
        height: 14rem;
    }

    .footer-info {
        padding-left: var(--spacing-xl);
        padding-right: var(--spacing-xl);
        margin-top: var(--spacing-2xl);

        h2 {
            font-family: var(--font-secondary);
            font-weight: var(--font-weight-regular);
            font-size: var(--font-size-body-md);
        }

        dl {
            margin-top: var(--spacing-md);

            dt {
                font-weight: var(--font-weight-bold);
                font-size: var(--font-size-body-md);
            }

            dd {
                font-size: var(--font-size-body-md);

                address {
                    text-decoration: underline;
                    font-style: normal;
                }
                @media (min-width: 1025px) {
                   margin-bottom: var(--spacing-lg);
                }
            }
        }

        .info-block {
            margin-top: var(--spacing-lg);
        }
    }

    .footer-social {
        padding-left: var(--spacing-xl);
        padding-right: var(--spacing-xl);
        margin-top: var(--spacing-5xl);

        @media (min-width: 1025px) {
            margin-top: var(--spacing-2xl);
        }

        p {
            font-size: var(--font-size-body-md);
        }

        .social-links {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-md);
            margin-top: var(--spacing-md);
        }

        a {
            border-radius: 50%;
            background-color: var(--color-secondary);
            padding: 0.6rem;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                color: var(--color-brand);
            }
        }
    }

    .footer-newsletter {
        padding-left: var(--spacing-xl);
        padding-right: var(--spacing-xl);
        font-size: var(--font-size-body-md);
        margin-top: var(--spacing-4xl);
        padding-bottom: var(--spacing-4xl);

        @media (min-width: 1025px) {
            margin-top: var(--spacing-2xl);
        }

        label {
            input {
                display: block;
                border: none;
                border-bottom: 0.1rem solid var(--color-secondary);
                background-color: inherit;
                width: 100%;
                padding-bottom: var(--spacing-sm);
                margin-top: var(--spacing-md);

                &::placeholder {
                    color: var(--color-secondary);
                    opacity: 0.5;
                    font-size: var(--font-size-body-md);
                    letter-spacing: var(--letter-spacing-wide);
                }
            }
        }

        button {
            padding: var(--spacing-sm) var(--spacing-md);
            font-size: var(--font-size-body-md);
            margin-top: var(--spacing-md);
        }
    }
}
.footer-bottom {
    padding-left: var(--spacing-2xl);
    padding-right: var(--spacing-2xl);
    background-color: var(--color-error);
    padding-top: var(--spacing-3xl);

    @media (min-width: 1025px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-top: var(--spacing-lg);
        
    }

    .footer-legal {
        ul {
            font-size: var(--font-size-body-md);
            display: flex;
            flex-direction: column;
            gap: var(--spacing-lg);
            @media (min-width: 1025px) {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        a {
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-size: 0% 2px;
            background-repeat: no-repeat;
            background-position: left bottom;

            @media (prefers-reduced-motion: no-preference) {
                transition: background-size 0.3s ease;
            }

            &:hover {
                background-size: 100% 2px;
            }
        }
        @media (min-width: 1025px) {
            display: flex;
        }
    }

    .footer-partners {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--spacing-lg);
        margin-top: var(--spacing-5xl);
        padding-bottom: var(--spacing-2xl);
        width: 100%;
        max-width: 450px;

        @media (min-width: 550px) {
            margin-left: auto;
        }

        img {
            width: 100%;
        }
    }
}

/*=====================-Detail-======================*/
/*------------------------Hero-----------------------*/
.hero {
    background-color: var(--color-secondary);
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3rem;
        background-image: url(/assets/icons/decoratief-flower-pattern.svg);
        background-repeat: repeat-x;
        background-size: 3.5rem;
        background-color: var(--color-neutral-darker);
    }
    .hero-image {
        display: flex;
        justify-content: center;
        padding: var(--spacing-5xl) 0;
    }
}

/*-------------------Exhibit-------------------*/
.exhibit {
    font-family: var(--font-primary);
    padding: var(--spacing-lg) var(--spacing-md);

    @media (min-width: 1025px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-2xl);
        align-items: start;

        .exhibit-sidebar { grid-column: 1; }
        .exhibit-content { grid-column: 2; }
    }
    @media (min-width: 1200px) {
        max-width: 1200px;
        margin: var(--spacing-5xl) auto;
    }

}

/*-------------------Exhibit-sidebar-------------------*/
.exhibit-sidebar {
    .exhibit-intro {

        .exhibit-period {
            margin-bottom: 0;
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-body-xl);
        }

        .exhibit-title {
            margin-bottom: 0;
            max-width: 70ch;
        }

        .exhibit-creator {
            font-family: var(--font-secondary);
            font-weight: var(--font-weight-regular);
            font-size: var(--font-size-body-xl);
        }

        .exhibit-link {
            font-size: var(--font-size-body-md);
            padding: var(--spacing-md) var(--spacing-lg);
            display: flex;
            justify-content: center;
            width: fit-content;
        }
    }

    .info-list {
        margin-top: var(--spacing-lg);
        @media (min-width: 1025px) {
            margin-top: var(--spacing-2xl);
        }

        .info-item {
            font-family: var(--font-primary);
            font-weight: var(--font-weight-bold);
            dd{
                font-size: var(--font-size-body-2xl);
            }
            p{
                font-size: var(--font-size-body-2xl);
            }
        }

        .info-label {
            font-family: var(--font-secondary);
            font-weight: var(--font-weight-regular);
            font-size: var(--font-size-body-md);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xl);
            padding: var(--spacing-sm) var(--spacing-sm);

            li p {
                margin: -0.5rem;
                padding: 0;
                line-height: var(--line-height-md);
            }
        }

        .item-list {
            margin-top: var(--spacing-xl);
        }
    }

    .btn-more, .btn-less {
        padding: var(--spacing-xs) var(--spacing-md);
        font-size: var(--font-size-body-md);
        width: fit-content;
        margin-top: var(--spacing-3xl);

        &::after {
            display: inline-block;
            transform: scale(0.5);
            vertical-align: middle;
            margin-left: -0.7rem;
        }
    }

    .btn-more {
        display: none;
        &::after { content: url(/assets/icons/plus.svg); }
        &:hover::after { content: url(/assets/icons/plus-hover.svg); }
    }

    .btn-less {
        display: none;
        &::after { content: url(/assets/icons/min.svg); }
        &:hover::after { content: url(/assets/icons/min-hover.svg); }
    }
}

/*------------------Exhibit-content------------------*/
.exhibit-content {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-regular);
    max-width: 37ch;

    .exhibit-status {
        font-size: var(--font-size-body-md);
        letter-spacing: var(--letter-spacing-wide);
        margin-top: var(--spacing-3xl);
        @media (min-width: 1025px) {
            margin-top: 0;
        }

        &::before {
            content: "";
            display: inline-block;
            background-color: var(--color-success);
            border-radius: 50%;
            height: 1rem;
            aspect-ratio: 1;
            margin-right: var(--spacing-md);
        }
    }

    p {
        font-size: var(--font-size-body-md);
    }
}
main{
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3rem;
        background-image: url(/assets/icons/decoratief-point-pattern.svg);
        background-repeat: repeat-x;
        background-size: 3.2rem;
        background-color: var(--color-neutral-darker);
    }
}
/*=====================-timeline-======================*/


/*-----------------Inohud------------------*/
.table-of-content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-lg);
    h3{
        color: var(--color-accent);
        text-transform: uppercase;
        font-size: var(--font-size-body-xl);
    }
    nav{
        ol{
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md);
            li{
                display: flex;
                align-items: center;
                gap: var(--spacing-md);
                font-size: var(--font-size-body-sm);
                &::before{
                    content: "";
                    height: 1rem;aspect-ratio: 1/1;
                    border-radius: var(--border-radius-circle);
                    border: var(--border-width-md) solid var(--color-secondary);
                }
                
                &.active{
                    color: var(--color-accent);
                    font-weight: var(--font-weight-bold);
                    &::before{
                        background-color: var(--color-accent);
                        border-color: var(--color-brand);
                    }
                }

                a{
                    text-decoration: none;
                    background-image: linear-gradient(currentColor, currentColor);
                    background-size: 0% 2px;
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    transition: background-size 0.3s ease;
                    &:hover{
                        background-size: 100% 2px;
                    }
                }
            }
        }
    }
}
/*-----------------article------------------*/
.timeline-article{
    margin-left: var(--spacing-lg);
    margin-right: var(--spacing-lg);
    
    .timeline-article-section{
        padding: var(--spacing-lg);
        padding-bottom: var(--spacing-2xl);
        background-color: var(--color-secondary);
        color: var(--color-brand);
        margin-bottom: 1rem;
    }
    
    p {
        font-size: var(--font-size-body-sm);

        &.year {
            font-weight: var(--font-weight-regular);
            font-size: var(--font-size-body-md);
            margin-bottom: var(--spacing-xs);
        }

        &.summary {
            font-style: italic;
        }

        &.source {
            font-size: var(--font-size-body-xs);
            padding-left: var(--spacing-xs);
        }
    }
    
    h2{
        font-size: var(--font-size-body-5xl);
        line-height: var(--line-height-sm);
        overflow-wrap: break-word;
    }

    blockquote{
        font-size: var(--font-size-body-sm);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: var(--spacing-md);
        border-top: solid var(--color-accent) var(--border-width-md);
        padding-top: var(--spacing-md);
        svg{
            height: 3rem;
            flex-shrink: 0;
        }
        .quote{
            display: flex;
            flex-direction: column;
            overflow-wrap: break-word;
        }
    }
}
.question-card{
    padding: var(--spacing-md);
    h3{
        color: var(--color-accent);
        display: flex;
        align-items: center;
        gap: var(--spacing-md);

        &::before,
        &::after {
            content: "";
            height: 0.05rem;
            flex: 1;
            background: var(--color-accent);
        }
    }
    form{
        padding: var(--spacing-sm);
        fieldset{
            border: none;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md);
            .option{
                display: flex;
                align-items: center;
                border: solid var(--color-secondary) var(--border-width-sm);
                font-size: var(--font-size-body-md);
                .option-input{
                    appearance: none; 
                }
                .option-key{
                    background-color: var(--color-secondary);
                    color: var(--color-brand);
                    padding: var(--spacing-md);
                    align-self: stretch;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 1rem;
                    font-size: var(--font-size-body-xl);
                    font-weight: var(--font-weight-bold);
                }
                .option-answer {
                    padding: var(--spacing-md) 0;
                }
                &:hover{
                    cursor: pointer;
                    border: solid var(--color-accent) var(--border-width-sm);
                }
                &:has(.option-input:checked) {
                    border-color: var(--color-accent);

                    .option-key {
                        background-color: var(--color-accent);
                    }

                    .option-answer {
                        color: var(--color-accent);
                    }
                }
                &.active{
                    border: solid var(--color-accent) var(--border-width-sm);

                    .option-key{
                        background-color: var(--color-accent);
                    }
                    .option-answer{
                        color: var(--color-accent);
                    }
                }
            }
            legend{
                font-weight: var(--font-weight-bold);
                font-size: var(--font-size-body-xl);
                letter-spacing: var(--letter-spacing-wide);
                margin-bottom: var(--spacing-xl);
            }
        }
        button{
            padding: var(--spacing-md);
            margin-top: var(--spacing-xl);
            width: 100%;
            display: flex;
            justify-content: center;
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-body-md);
        }
    }
}